* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body
{
    background-image: url('backgroundimg.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.container {
    width: 35rem;
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
}

h3#questionBox {
    text-align: center;
    padding: 15px;
    font-size: 24px;
    color: #333;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.col {
    text-align: justify;
    padding: 15px;
    width: 95%;
}

button#submit {
    width: 100%;
    background-color: green;
    transition: background-color 0.5s;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.box {
    border-top: 1px solid #ccc;
}

.navbar {
    background-color:  white;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
