/*CSS For StudyBuddy */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navigation bar */

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #2980b9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  background: #2980b9;
  margin: auto;
}
nav .navbar .logo a {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}
nav .navbar .menu {
  display: flex;
}
.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

/*heading */
.paragraph0 {
  font-size: 6vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
.paragraph1 {
  font-size: 4vh;
  padding: 10px;
}

.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 100% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

/* Navigation bar button */

.shadow__btn {
  font-size: 17px;
  color: white;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255),
    0 0 200px rgb(0, 140, 255);
}

.purple {
  color: #66fcf1;
}
/* Section 1 Styling */
.firstsection {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin-top: 100px;
}

.firstsection h1 {
  font-size: 3rem;
  text-decoration: dotted black;
  font-weight: bold;
}

.firstsection .p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  white-space: normal;
  line-height: 1.5;
}

/* Button Styling in Nav Bar*/
.login-button,
.signup-button {
  background-color: #66fcf1;
  color: #1f2833;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 0;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover Effect in Button*/
.login-button:hover,
.signup-button:hover {
  background-color: #1f2833;
  color: #66fcf1;
}
hr {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #66fcf1;
}

.roadmap-button {
  background-color: #0f172a;
  color: #e9f1fb;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px auto;
  display: block;
  text-align: center;
  width: 250px;
  white-space: nowrap;
}

.additional-buttons {
  display: flex;
  flex-wrap: wrap; /* Added flex-wrap */
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.additional-button {
  background-color: #0f172a;
  color: #e9f1fb;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px; /* Adjusted margin */
  display: block;
  text-align: center;
  width: 150px;
  transition: background-color 0.3s, color 0.3s;
}

.additional-button:hover {
  background-color: #1f2833;
  color: #66fcf1;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .firstsection h1 .secondsection h1 {
    font-size: 2rem; /* Reduce font size for smaller screens */
  }
}

/* Second Section styling*/

.secondsection {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin-top: 70px;
}
/* Styling of Line*/
hr {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #66fcf1;
}
/* Button*/
.skill-button {
  background-color: #0f172a;
  color: #e9f1fb;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px auto;
  display: block;
  text-align: center;
  width: 250px;
  white-space: nowrap;
}
/*Buttons2*/
.additional-buttons2 {
  display: flex;
  flex-wrap: wrap; /* Added flex-wrap */
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
/* Button2*/
.additional-button2 {
  background-color: #0f172a;
  color: #e9f1fb;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px; /* Adjusted margin */
  display: block;
  text-align: center;
  width: 150px;
  transition: background-color 0.3s, color 0.3s;
}
/* Hover Effect in Button*/
.additional-button2:hover {
  background-color: #1f2833;
  color: #66fcf1;
}

/* Footer Styling */
footer {
  background-color: #297fb995;
  width: 100%;
  color: #e9f1fb;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
}

footer div {
  flex-basis: calc(25% - 20px);
  margin-right: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin: 2px 0;
}

footer ul li a {
  text-decoration: none;
  color: #e9f1fb;
  transition: color 0.3s;
}

footer ul li a:hover {
  color: black;
}

footer p {
  font-size: 14px;
  margin-bottom: 10px;
}

#main-content {
  margin-bottom: 100px;
}
